<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제품명</th>
                <th>가격(₩)</th>
                <th>메인이미지주소</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="page : ${pages}">
                <td th:text="${page.id}"></td>
                <td th:text="${page.productName}"></td>
                <td th:text="${page.productPrice}"></td>
                <td th:text="${page.imgUrls.getMainImgUrl()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
